html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root{
  height:100vh;
  margin:0 ;
}
body,input,select,textarea{
  font-size: 1.6rem;
  font-family:Arial, Helvetica, sans-serif;
}
.grid-container{
  display:grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem ;
  grid-template-columns: 1fr ;
  height:100%;
}
a:hover{
color:#ff8000;
}
header{
  grid-area: header;
  background-color:#203040;
  color:white;
  display: flex;
  align-items: center;
  padding: .5rem;
  }
  header a{
    color:#ffff;
    text-decoration: none;
  }
  main{
    grid-area: main;
  }
  footer{
    grid-area: footer;
    background-color:#203040;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }